  <div id="access-lastmod" class="post"> <!-- reuses id access-lastmod to avoid modifying css -->
    <div class="panel-heading">Friend Links</div>
    <ul class="post-content pl-0 pb-1 ml-1 mt-2">

    {% for item in site.data.links %}
      <!-- {% assign index = item | split: "::" | last | plus: 0 %}
      {% assign post = site.posts[index] %}
      {% assign url = post.url | relative_url %} -->
      <!-- {% assign url = item.url %} --> 
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}

    </ul>
  </div> <!-- #access-links -->